<!DOCTYPE html>
<html>
    <head>
        <title>New Purchase</title>
        <meta name="description" content="Add Stock">
        <meta name="keyword" content="Add Stock">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}
        {{> inventoryPartial }}
       
        <div class="content">
            <h1 class="bold color-blue margin-bottom-0">New Purchase</h1> 

            <hr style="margin-bottom: 5px;">

            <div style="margin-top: 20px;"> 
                <input type="text" name="add-stock-name" id="add-stock-name" placeholder="Stock Name" style="margin-right: 5px">
                <input type="number" name="add-stock-count" id="add-stock-count" placeholder="Count" style="margin-right: 10px">
                <input type="number" name="add-stock-price" id="add-stock-price" placeholder="Price" style="margin-right: 10px">
                <input class="btn-add" type="button" id="btn-add-stock" name="btn-add-stock" value="+">

                 <!-- Modal Stock -->
                <div class="modal fade" id="modal-add-stock" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="modalTitle">Add New Stock</h3>
                        <button type="button" class="close" data-dismiss="modal" id ="btn-close-add-new-ingredient" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="add-new-stock" class="ui-front">
                            <label for="new-stock-ingredient-name">Ingredient Name</label> <input id="new-stock-ingredient-name" type="text"><br>
                            <p class="error" id="error-new-stock-ingredient-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            <label for="new-stock-stock-name">Stock Name</label> <input id="new-stock-stock-name" type="text"> <br>
                            <p class="error" id="error-new-stock-stock-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            <label for="new-stock-stock-quantity">Quantity</label> <input id="new-stock-stock-quantity" type="text"> <br>
                            <label for="dropdown-new-stock-unit">Unit of Measurement</label>
                            <select class="dropdown" id="dropdown-new-stock-unit">
                                <option value="no-selected">--Select unit--</option>
                                {{#each units}}
                                    <option value="{{_id}}">{{unit}}</option>
                                {{/each}}
                            </select><br>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id ="btn-close-add-new-ingredient-2">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-add-new-stock">Add Stock</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Modal Ingredient -->
            <div class="modal fade" id="modal-add-ingredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Add Ingredient</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="add-new-ingredient">
                        <label for="new-ingredient-ingredient-name">Name</label> <input id="new-ingredient-ingredient-name" type="text"><br>
                        <p class="error" id="error-new-ingredient-ingredient-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <label for="dropdown-new-ingredient-ingredient-type">Ingredient Type</label>
                        <select class="dropdown" id="dropdown-new-ingredient-ingredient-type"> 
                            <option value="no-selected">--Select ingredient type--</option>
                            {{#each ingredientTypes}}
                                <option value="{{_id}}">{{ingredientType}}</option>
                            {{/each}}
                        </select><br>
                        <label for="dropdown-new-ingredient-ingredient-unit">Unit of Measurement</label>
                        <select class="dropdown" id="dropdown-new-ingredient-ingredient-unit">
                            <option value="no-selected">--Select unit--</option>
                            {{#each units}}
                                <option value="{{_id}}">{{unit}}</option>
                            {{/each}}
                        </select><br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-add-new-ingredient" disabled="true">Add Ingredient</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>

                <div style="float: right; display: flex; flex-direction: row;">
                    <button class="btn-light-blue" id="btn-add-new-ingredient-popup" style="margin-right: 5px;"data-toggle="modal" data-target="#modal-add-stock">Add New Stock</button>
                    <button class="btn-light-blue" id="btn-add-new-stock-popup" data-toggle="modal" data-target="#modal-add-ingredient">Add New Ingredient</button>
                </diiv>
            </div>

            <p class="error" id="error-add-stock" style="display: none;">Stock not found</p>

            <div class="div-table table-height-185" style="margin-top: 10px;">
                <table class="table" id="table-add-stock-new-stock">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-add-stock-body"> 
                        
                    </tbody>
                </table>
            </div>

            <div class="summary-container" style= "margin-top: 20px;">    
                <div class="summary-text">Total</div>
                <div class="summary-info-container"><div id="add-stock-total" class="summary-info">0</div></div>
            </div>

            <div class="div-btn-right" style="margin-top: 20px;"><button class="btn-light-blue" id="btn-add-stock-save" disabled="true" style="background-color: #b3b3b3">Save</button></div>
        </div>

        <script>
            $(document).ready(function() {
                 
                $("#add-stock-name" ).autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getStockName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $('#error-add-stock').css('display', 'none')
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) 
                            $('#error-add-stock').css('display', 'block')

                        else
                            $('#error-add-stock').css('display','none')
                            // $("#btn-add-new-ingredient-popup").show();
                            //$("#btn-add-new-ingredient-popup").click(function() {
                                 //$('#modal-add-ingredient').modal('show');
                                 //});
                            //$("#btn-close-add-new-ingredient , #btn-close-add-new-ingredient-2").click(function() {
                                  //$("#btn-add-new-ingredient-popup").hide();
                                  //});
                    }
                        
                });

                var d = new Date(Date.now());
                var date = (d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear();
                var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()
                $('#date').html(date);
                $('#time').html(time);

                function capitalize(string){
                    var words = string.toString().toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                //gets stocks info
                $('#btn-add-stock').click(function() {
                    var stockName = $('#add-stock-name').val();
                    var count = parseInt($('#add-stock-count').val());
                    var price = parseInt($('#add-stock-price').val());


                    $.get('/getStockInfo', {stockName:stockName}, function (result) {
                        //stockID was found in DB
                        if (result!="") {
                                var total = count*price;
                                $('#table-add-stock-new-stock').append (
                                `<tr>
                                    <td class="stockName">${stockName}</td>
                                    <td class="count">${count}</td>
                                    <td class-"quantity">${result.quantity}</td>
                                    <td class="stockUnit">${result.stockUnit}</td>
                                    <td class="price">${price}</td>
                                    <td class="total">${total}</td>
                                    <td><button class="delete-button add-stock-delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                                </tr>`);

                                $('#add-stock-name').val(''); 
                                $('#add-stock-count').val('');    
                                $('#add-stock-price').val('');  
                                $('#btn-add-stock-save').prop('disabled', false);
                                $("#btn-add-stock-save").css("background-color", "#0F84D9");

                                var overallTotal = parseInt($('#add-stock-total').text()) + total;
                                $('#add-stock-total').text(overallTotal);

                            }

                        //stockDB not found, ask to create new stock
                        else{                          
                            $('#modal-add-stock').modal('show');
                            $('#stock-name').val(stockName);
                        }
                    });                   
                });

                 $("#table-add-stock-new-stock").on('click','.add-stock-delete-button',function() {
                    var removedRowAmount = parseInt ($(this).closest('tr').find('.total').text())
                    var currentTotal = parseInt($('#add-stock-total').text())

                    currentTotal -= removedRowAmount
                    $('#add-stock-total').text(currentTotal)
                    $(this).closest('tr').remove();
                });


                //saves purchase to db
                $('#btn-add-stock-save').click (function() {
                    var newStocks = [];
                   
                   $("#table-add-stock-body > tr").each(function () {
                        var stock= {
                            purchaseID:0, 
                            stockName: $(this).children('.stockName').text(),
                            count: $(this).children('.count').text(),
                            unitPrice: $(this).children('.price').text(),
                        }
                        newStocks.push(stock);
                    });
                   var stockString = JSON.stringify(newStocks);
                   var purchaseTotal = $('#add-stock-total').text();
                   $.post('/savePurchase', {stockString, purchaseTotal});
                   $("#table-add-stock-new-stock tbody tr").remove();
                   $('#add-stock-total').text('0');
                   $('#btn-add-stock-save').prop('disabled', true);
                   alert("Purchase Saved!");
                });

                $("#new-stock-ingredient-name").autocomplete({
                    source:function(request, response) {
                    $.ajax({
                                url: `/getAutoIngredientName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    },
                });

                //validation for modals
                /*$('#new-stock-ingredient-name').keyup(function() {
                    var ingredientName = capitalize($('#new-stock-ingredient-name'))
                    $.get('/getCheckIngredientName', ingredientName , function(result) {
                        if (result.ingredientName!=ingredientName) {
                            $("#new-stock-ingredient-name").css("border", "1px solid #B00000");
                            $('#error-new-stock-ingredient-name').text("Ingredient does not exist");
                            $("#btn-add-new-stock").prop("disabled", true);
                            $("#btn-add-new-stock").css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#new-stock-ingredient-name").css("border", "1px solid #DDDDDD");
                            $('#error-new-stock-ingredient-name').text("");
                            $("#btn-add-new-stock").prop("disabled", false);
                            $("#btn-add-new-stock").css("background-color", "#0F84D9");
                        }
                    })
                })*/

                function isFilled () {
                    var stockName = capitalize($('#new-stock-stock-name').val());
                    var stockQuantity = $('#stock-quantity').val();

                    if (stockName=="" || stockQuantity=="")
                        return false;
                    else
                        return true;
                }

                $('#new-stock-stock-name').keyup(function() {
                    var stockName = capitalize($('#new-stock-stock-name').val());
                    $.get('/getCheckStockName', {stockName:stockName}, function(result) {
                        if (result.stockName == stockName) {
                            $("#new-stock-stock-name").css("border", "1px solid #B00000");
                            $('#error-new-stock-stock-name').text("Stock already exists");
                            $("#btn-add-new-stock").prop("disabled", true);
                            $("#btn-add-new-stock").css("background-color", "#b3b3b3");
                        }
                        else { 
                            $("#new-stock-stock-name").css("border", "1px solid #DDDDDD");
                            $("#error-new-stock-stock-name").text("");
                            $("#btn-add-new-stock").prop("disabled", false);
                            $("#btn-add-new-stock").css("background-color", "#0F84D9");
                        }
                    })
                })

                $('#btn-add-new-stock').click(function() {
                    var ingredientName = capitalize($('#new-stock-ingredient-name').val())
                    var stockName = capitalize($('#new-stock-stock-name').val());
                    var quantity = $('#new-stock-stock-quantity').val();
                    var stockUnitVal = $('#dropdown-new-stock-unit').val()

                    $('#modal-add-stock').modal('toggle')
                    $('#add-new-stock').trigger('reset')

                    $.post('/addStock', {stockName, quantity, stockUnitVal, ingredientName})
                })


                $('#new-ingredient-ingredient-name').keyup(function() {
                    var ingredientName = capitalize($('#new-ingredient-ingredient-name').val())
                    $.get('/getCheckIngredientName', {ingredientName:ingredientName}, function(result) {
                        if (result.ingredientName == ingredientName) {
                            $("#new-ingredient-ingredient-name").css("border", "1px solid #B00000");
                            $('#error-new-ingredient-ingredient-name').text("Ingredient already exists");
                            $("#btn-add-new-ingredient").prop("disabled", true);
                            $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                        }
                        else {
                             $("#new-ingredient-ingredient-name").css("border", "1px solid #DDDDDD");
                            $("#error-new-ingredient-ingredient-name").text("");
                            $("#btn-add-new-ingredient").prop("disabled", false);
                            $("#btn-add-new-ingredient").css("background-color", "#0F84D9");
                        } 
                    })
                })

                $('#btn-add-new-ingredient').click(function() {
                    var ingredientName = capitalize($('#new-ingredient-ingredient-name').val());
                    ingredientName = $.trim(ingredientName);
                    var ingredientTypeVal = $('#dropdown-new-ingredient-ingredient-type').val();
                    var ingredientUnitVal = $('#dropdown-new-ingredient-ingredient-unit').val();

                    $('#modal-add-ingredient').modal('toggle');
                    $('#add-new-ingredient').trigger('reset');

                    $.get('/getCheckIngredientName', {ingredientName: ingredientName}, function (result) {
                        if (result.ingredientName == ingredientName) {
                            
                            $("#ingredient-name").css("border", "1px solid #B00000");
                            $('#error-new-ingredient-name').text("Ingredient already exists");
                            
                            $("#btn-add-new-ingredient").prop("disabled", true);
                            $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                            
                            //another modal popup saying it exists
                            alert(ingredientName + " already exists as an ingredient");
                        }
                        else {
                            $.post('/addIngredient', {ingredientName, ingredientType:ingredientTypeVal, ingredientUnitVal})
                        }
                    })
                })


            });
        </script>
    </body>
</html>