<!DOCTYPE html>
<html>
    <head>
        <title> View Menu </title>
        <meta name="description" content="View Menu">
        <meta name="keyword" content="View Menu">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}
        

        {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}
      

        <div class="content">
            <h1 class="bold color-blue margin-bottom-0">Menu</h1> 
            <hr>

            {{#each menu}}
                {{#if classification}}
                </table>
                <h3 class="bold">{{classification}}</h3>
                    <table class="table" id="table-menu">
                        <thead class="table-head table-sticky-header">
                            <tr>
                                <th style="width: 30%">Name</th>
                                <th style="text-align:right; width: 20%">Price</th>
                                <th style="text-align:center; width: 50%">Status</th>
                            </tr>
                        </thead>
                {{/if }}

                <tbody>   
                {{#if dishName}}                  
                        <tr class="link" data-href="/menu/{{_id}}">
                            <td>{{dishName}}</td>
                            <td style="text-align:right;">₱ {{dishPrice}}</td>
                            <td style="text-align:center;">{{dishStatus}}</td>
                        </tr>
                {{/if }}
                </tbody>
            {{/each}}

        </div>

        <script> 
            $(document).ready(function() {
                $(".link").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>

    </body>
</html>