<!DOCTYPE html>
<html>
    <head>
        <title> New Order </title>
        <meta name="description" content="New Order">
        <meta name="keyword" content="New Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">New Order</a>
            <a href="#">View Menu</a>
        </div>

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold color-blue margin-bottom-0" id="new-order-number">New Order</h1></div>
                    <div class="div-btn-status">
                        <!--
                        <h3 class="margin-bottom-0" id="date-new-order">MM/DD/YYYY</h3>
                        -->
                    </div>
                </div>
            </div>

            <hr>

            <div class="header-colored-bg">
                <h3 class ="bold header-text">Order Details</h3>
            </div>


            <div style="margin-top: 10px;"> 
                <input type="text" name="dish-name" id="dish-name" placeholder="Dish Name" style="margin-right: 5px">

                <input type="number" name="dish-quantity" id="dish-quantity" placeholder="Quantity" min="0" style="margin-right: 10px">

                <input class="btn-add" type="button" id="btn-add-dish" name="btn-add" value="+">
            </div>

            <p class="error" id="error-dish"></p>
           

            <div class="div-table" style="margin-top: 10px;">

                <table class="table" id="table-view-dish">

                    <thead class="table-head table-sticky-header">

                        <tr> 
                            <th>Name</th>
                            <th>Quantity</th>
                            
                            <!--
                            <th>Unit Price</th>
                            <th>Amount</th>
                            -->
                        </tr>
                    </thead>
                    
                    <tbody> 
                        <!--
                       {{#each salesDishes}}
                            <tr>
                                <td>{{dishName}}</td>
                                <td>{{quantity}}</td>
                                <td>₱ {{unitPrice}}</td>
                                <td>₱ {{amount}}</td>
                            </tr>
                        {{/each}}
                        -->
                    </tbody>

                </table>
            </div>

            <hr>
            
            <div class="summary-container">
                <div class="summary-text">Discount (%)</div>
                <div class="summary-info-container">
                    <input type="number" name="new-order-discount" id="new-order-discount" min="0" max="100" class="summary-info2" placeholder="Enter">
                </div>
            </div>

            <div class="summary-container">
                <div class="summary-text">Subtotal</div>
                <div class="summary-info-container"><div id="new-order-subtotal" class="summary-info">₱ {{sale.subtotal}}</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">VAT</div>
                <div class="summary-info-container"><div id="new-order-VAT" class="summary-info">₱ {{sale.VAT}}</div></div>
            </div>
            <div class="summary-container">    
                <div class="summary-text">Less: Discount</div>
                <div class="summary-info-container"><div id="new-order-less-discount" class="summary-info">₱ {{sale.discount}}</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">Total Due</div>
                <div class="summary-info-container"><div id="new-order-total-due"class="summary-info">₱ {{sale.total}}</div></div>
            </div>

            <div class="div-btn-right" style="margin-top: 20px;"><button class="btn-light-blue" id="btn-new-order-save">Save</button></div>
        </div>
        
        <script> 

            $(document).ready(function() {
                $("#dish-name").autocomplete({
                    source:function(request, response) {
                    $.ajax({
                            url: `/getAutoDishName?query=${request.term}`,
                            dataType: "json",
                            data: {
                                //request.term refers to the value currently in the text input
                                term: request.term,
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    }
                });


                function dishQuantityValidation(dishQty) { 
                    if (dishQty == null || dishQty == "") {
                        errorMessage("dishQty");
                        return 1;
                    } 
                    else 
                        return 0;
                }

                function dishNameValidation(dishName) {
                    if (dishName == null || dishName == "") {
                        errorMessage("dishName");
                        return 1;
                    }
                    else 
                        return 0;
                }

                
                function errorMessage(type) {

                    if (type == "dishName") {
                        $("#new-dish-name").css("border", "1px solid #B00000");
                        $("#error-new-dish-name").text("Please enter a Dish Name.");

                    } 

                    else if (type == "dishQty") {
                        $("#new-dish-ingredients-quantity").css("border", "1px solid #B00000");
                        $("#error-ingredients").text("Please enter the Dish Quantity.");
                    }
                }

                
                $('btn-add').click(function() {
                    
                    var dishName = $('input[name="dish-name"]').val();
                    var dishQty = $('input[name="dish-quantity"]').val();

                    var tr_ = '<tr><td>' + dishName + '</td> <td>'  + dishQty + '</td></tr>';

                    $('tbody').append(tr_);
                
                });

/*

                 $("#table-add-new-dish").on('click','.add-new-dish-delete-btn', function() {
                    $(this).closest('tr').remove();
                });


                // Reset dish fields
                function resetDish() {
                    $("#new-dish-name").val("");
                    $("#new-dish-price").val("");
                    $("#dropdown-add-new-dish-classification")[0].selectedIndex = 0; 
                    $("#dropdown-add-new-dish-status")[0].selectedIndex = 0; 
                }
                
                // Reset ingredient fields
                function resetIngredients() {
                    $("#new-dish-ingredients-name").val("");
                    $("#new-dish-ingredients-quantity").val("");
                    $("#dropdown-add-new-dish-ingredients-unit")[0].selectedIndex = 0; 
                }



               
                function readTable(dishID) { 
                    var ingredients = [];

                    //alert("READ TABLE " + dishID);

                    var myTab = $("#table-add-new-dish")[0];

                    //alert(myTab.rows.length);

                    // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
                     for (var i = 1; i < myTab.rows.length; i++) {
                         var ingredientID;

                        // GET THE CELLS COLLECTION OF THE CURRENT ROW.
                        var objCells = myTab.rows.item(i).cells;

                        //alert(objCells.item(0).innerHTML + " " + objCells.item(1).innerHTML + " " + objCells.item(2).innerHTML);

                        var name = objCells.item(0).innerHTML; 
                        var quantity = parseFloat(objCells.item(1).innerHTML);
                        var unit = objCells.item(2).innerHTML;
                        var id = "ID";

                        //alert(dishID + " " + id + " " + parseFloat(quantity) + " " + unit);      

                        alert("DISH ID: " + dishID);

                        // get ingredient id based on name

                         $.get('/getIngredientID', {ingredientName: name}, function(result) {

                            ingredientID = result._id;

                            //alert(dishID + " " + ingredientID + " " + quantity + " " + unit);

                            $.post('/postAddOneIngredient', {dishID, ingredientID, quantity, unit});

                        });
                    }

                    // Clear table
                    $("#table-add-new-dish tbody tr").remove();            
                }


                function computeFees(){

                    //use as reference: https://www.youtube.com/watch?v=1UAORTlaqLg&ab_channel=EnrichingLife

                }

                $('#btn-add-new-order-save').click(function() {
                    var dishName = capitalize($('#new-dish-name').val());
                    var dishPrice = $('#new-dish-price').val();
                    var dishClassification = $('#dropdown-add-new-dish-classification').val();
                    var dishStatus = $('#dropdown-add-new-dish-status').val();
                    var dishID;

                    //alert(dishName + ", " + dishPrice + ", " + dishClassification + ", " + dishStatus);
                    
                    // Validate inputs
                    if (!dishNameValidation(dishName) && !dishPriceValidation(dishPrice)) {
                        $("#new-dish-name").css("border", "1px solid #DDDDDD");
                        $("#new-dish-price").css("border", "1px solid #DDDDDD");

                        $("#error-new-dish-name").text("");
                        $("#error-new-dish-price").text("");

                        resetDish();

                        $.get('/postAddOrder', {dishName: dishName, dishPrice: dishPrice, dishClassification: dishClassification, dishStatus: dishStatus}, function(result) {
                            dishID = result._id;
                            
                            readTable(dishID);
                        });
					}
                });
        });


**/
        </script>
    </body>
</html>