<!DOCTYPE html>
<html>
    <head>
        <title> Unit Converter </title>
        <meta name="description" content="Unit Converter">
        <meta name="keyword" content="View Purchase">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        {{> logoutPartial }}

    
        <div class="sidebar">
            <!--
            <a href="#">Home</a>
            <a href="#">1</a>
            <a href="#">2</a>
            -->
        </div>
        
         <div class="content">
         
        <div>
            <div style="display: flex;">
                <div style="width: 50%;"><h1 class="bold color-blue margin-bottom-0">Unit Conversion</h1></div>
                
            </div>
        </div>

            <hr>
        
        <h3 class="bold">Add Unit</h3>
        <div class="input-container"> 
            <input type="text" name="enter-unit" id="enter-unit" placeholder="Unit" style="margin-right: 10px"> 
            <input class="btn-add" type="button" id="save-unit" name="save-conversion" value="+">
        </div>

        <p class="error" id="error-unit"></p> 
        
        <hr>
         
         <h3 class="bold">Add Conversion</h3>
         <!--DROPDOWN-->
         <div style="input-container">

            <select class="dropdown" id="unitA" style="margin-right: 5px"> 
            <option value="no-selected">Select Unit A</option>
            {{#each unitNames}}
                <option value="{{id}}">{{unitName}}</option>
            {{/each}}
            </select>

            <select class="dropdown" id="unitB" style="margin-right: 10px">
            <option value="no-selected">Select Unit B</option>
            {{#each unitNames}}
                <option value="{{id}}">{{unitName}}</option>
            {{/each}}
            </select>

            <input type="number" name="ratio" id="ratio" placeholder="Ratio" style="margin-right: 10px">
            <input class="btn-add" type="button" id="save-conversion" name="save-conversion" value="+">
        
        </div>
       
        <div class="div-table" style="margin-top: 20px;">
                <table class="table" id="table-edit-dish-ingredients">
                    <thead class="table-head table-sticky-header">
            <tr>
                <th>Unit A</th>
                <th>Unit B</th>
                <th>Ratio</th>
                <th>Operator</th>
            </tr>
            <tbody>
                {{#each conversions}}
                <tr>
                    <td>{{unitA}}</td>
                    <td>{{unitB}}</td>
                    <td>{{ratio}}</td>
                    <td>{{operator}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>

        </div>

        <script>

            $(document).ready(function() {

/*
                function checkSameUnit () {
                    var unitA = $('#unitA').val();
                    var unitB = $('#unitB').val();
                    if (unitA == unitB)
                        return true;
                    else
                        return false;
                }

                function isPositive() {
                    var ratio = $('#ratio').val();
                    if (ratio>0)
                        return true;
                    else
                        return false;
                }

                $('#unitA').keyup(function() {
                    //unit is same
                    if (checkSameUnit()) {
                        $("#unitA").css("border", "1px solid #B00000");
                        $('#error-unit').text('Cannot convert between same unit');
                        $("#save-conversion").prop("disabled", true);
                        $("#save-conversion").css("background-color", "#b3b3b3");
                    }   
                    else {
                        $("#unitA").css("border", "1px solid #DDDDDD");
                        $("#error-unit").text("");
                        $("#save-conversion").prop("disabled", false);
                        $("#save-conversion").css("background-color", "#0F84D9");
                    }
                })

                $('#unitB').keyup(function() {
                    //unit is same
                    if (checkSameUnit()) {
                        $("#unitB").css("border", "1px solid #B00000");
                        $('#error-unit').text('Cannot convert between same unit');
                        $("#save-conversion").prop("disabled", true);
                        $("#save-conversion").css("background-color", "#b3b3b3");
                    }
                    else {
                        $("#unitB").css("border", "1px solid #DDDDDD");
                        $("#error-unit").text("");
                        $("#save-conversion").prop("disabled", false);
                        $("#save-conversion").css("background-color", "#0F84D9");
                    }       
                })

                $('#ratio').keyup(function() {
                    //is not positive
                    if (!isPositive()) {
                        $("#ratio").css("border", "1px solid #B00000");
                        $('#error-ratio').text('Ratio cannot be less than 1');
                        $("#save-conversion").prop("disabled", true);
                        $("#save-conversion").css("background-color", "#b3b3b3");
                    }
                    else {
                        $("#ratio").css("border", "1px solid #DDDDDD");
                        $("#error-ratio").text("");
                        $("#save-conversion").prop("disabled", false);
                        $("#save-conversion").css("background-color", "#0F84D9");
                    }       
                })

*/

                $('#enter-unit').keyup(function() {
                
                    var unit = $('#enter-unit').val();

                    $.get('/getCheckUnitName', {unit: unit}, function (result) {

                        if (result.unit == unit) {
                            $("#enter-unit").css("border", "1px solid #B00000");
                            $('#error-unit').text("Unit already exists");
                            $("#error-unit").css("margin-left", "0px");
                            $("#save-unit").prop("disabled", true);
                            $("#save-unit").css("background-color", "#b3b3b3");
                        }
                           
                    });

                    $("#enter-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#error-unit").css("margin-left", "0px");
                    $("#save-unit").prop("disabled", false);
                    $("#save-unit").css("background-color", "#0F84D9");

                });


                $('#save-unit').click(function() {
                    
                    var unit = $('#enter-unit').val();
                    var unit = $.trim(unit);

                    //alert("Unit " + unit + " saved");

                    if(unit != ''){
                    $.post('/saveUnit', {unit});

                    $("#error-unit").text("Unit has been saved");
                    $("#error-unit").css("margin-left", "0px");
                    $("#error-unit").css("color", "green");
                    
                    }
                    else if(unit == ''){
                        $("#enter-unit").css("border", "1px solid #B00000");
                        $('#error-unit').text("Invalid entry");
                        $("#error-unit").css("margin-left", "0px");
                        $("#error-unit").css("color", "#B00000");
                    }

                });


                $('#save-conversion').click(function(){
                    var unitA = $('#unitA').val();
                    var unitB = $('#unitB').val();
                    var ratio = $('#ratio').val();
                    var operator = $('#operator').val();
                    
                    $.post('/saveUnitConvert', {unitA, unitB, ratio, operator});

                    $('#unitA').val('');
                    $('#unitB').val('');
                    $('#ratio').val('');
                    $('#operator').val('');
                })
            })
        </script>
    </body>

</html>