<!DOCTYPE html>
<html>
    <head>
        <title> View Order History </title>
        <meta name="description" content="View Order History">
        <meta name="keyword" content="View Order History">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}
        

        <div class="content">

            <div style="display: flex;">
                <div style="width: 50%"><h1 class="bold color-blue">Order History</h1></div>
                <div class="div-btn-status">
                    <h4 class="bold" id="dateToday">As of {{today}}</h4>
                </div>
            </div>

            <div style="justify-content: flex-start">
                <label class="date-label" for="start-date-order-history">Start Date</label>
                <input style="height: 34px" type="date" id="start-date-order-history" name="start-date-order-history">
                <label class= "date-label" style="margin-left: 10px;" for="end-date-order-history">End Date</label>
                <input style="height: 34px" type="date" id="end-date-order-history" name="end-date-order-history">
                <button type="submit" style="height: 34px; margin-left: 10px" id="view-order-history-date-button"><i class="fa fa-search"></i></button>
            </div>

            <br>

            <!-- make rows clickable -->
            <div class="div-table" style= "height: 500px">
                <table class="table" id="table-view-order-history">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Processed By</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each orders}}
                            <tr class="link" data-href="/order/{{systemID}}">
                                <td>{{date}}</td>
                                <td>₱ {{total}}</td>
                                <td>{{employeeName}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="summary-total-container" style= "margin-top: 10px;">    
                <div class="summary-total-text">Total</div>
                <div class="summary-info-container"><div id="view-order-history-total" class="summary-total-info">₱ {{total}}</div></div>
            </div>
        </div>

        <script> 
            $(document).ready(function() {
                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                $("#view-order-history-date-button").click(function() {
                    var startDate = $("#start-date-order-history").val();
                    var endDate = $("#end-date-order-history").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date-order-history").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date-order-history").css("border", "1px solid #B00000")
                    }
                    else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            //alert("endDate is before startDate");
                            $("#start-date-order-history").css("border", "1px solid #B00000");
                            $("#end-date-order-history").css("border", "1px solid #B00000");
                        }
                        else {
                            //alert("Valid dates");
                            $("#start-date-order-history").css("border", "1px solid #DDDDDD");
                            $("#end-date-order-history").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredRowsOrderHistory", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {
                                var total = 0;

                                $("#table-view-order-history tbody tr").remove();

                                for (var i = 0; i < result.length; i++) {
                                    var resultSystemID = result[i].systemID;
                                    var resultDate = result[i].date;
                                    var resultTotal = result[i].total;
                                    var resultEmpName = result[i].employeeName;

                                    total += parseFloat(resultTotal);
                                    
                                    $("#table-view-order-history").find("tbody").append(
                                        `  <tr class="link" data-href="/order/${resultSystemID}"> 
                                                <td>${resultDate}</td>
                                                <td>₱ ${resultTotal}</td> 
                                                <td>${resultEmpName}</td>
                                            </tr>`
                                    );

                                    $(".link").click(function() {
                                        window.location = $(this).data("href");
                                    });
                                }
                                $("#view-order-history-total").text("₱ " + total.toFixed(2));

                                $.get("/getDateToday", {}, function (result2) {
                                    $("#dateToday").text(result2);
                                });

                                $("#start-date-order-history").val(null);
                                $("#end-date-order-history").val(null);
                            });
                        }
                    }
                });
            });
        </script>

    </body>
</html>