<!DOCTYPE html>
<html>
    <head>
        <title> View Purchase </title>
        <meta name="description" content="View Purchase">
        <meta name="keyword" content="View Purchase">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        {{> innerInventoryPartial }}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div><h1 class="bold color-blue margin-bottom-0" id="view-specific-purchase-ID">Purchased on {{purchase.dateBought}}</h1></div>
                    <div class="div-btn-status">
                
                    </div>
                </div>
            </div>

            <hr>

            <div>

                <div class="label-container">
                    <div class="override-label">Purchased By</div> 
                    <div class="label-content" id="content-view-specific-purchase-purchased-by">{{employeeName}}</div>
                </div>
            </div>

            <h3 class="bold" style="margin-top: 30px;">Purchase Details</h3> 
            <div class="div-table table-height-300">
                <table class="table" id="table-view-specific-purchase">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Count</th>
                            <th style="text-align: right;">Unit Price</th>
                            <th style="text-align: center;">Amount</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each purchasedStocks}}
                            <tr>
                                <td>{{stockName}}</td>
                                <td>{{quantity}}</td>
                                <td>{{stockUnit}}</td>
                        
                                <td>{{count}}</td>
                                <td style="text-align: right;">{{unitPrice}}</td>
                                <td style="text-align: center;">{{amount}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="summary-total-container" style="margin-top: 20px;">
                <div class="summary-total-text">Total</div>
                <div class="summary-info-container"><div id="view-specific-purchase-total"class="summary-total-info">Php {{purchase.total}}</div></div>
            </div>
        </div>
    </body>
</html>