<!DOCTYPE html>
<html>
    <head>
        <title> View Order </title>
        <meta name="description" content="View Order">
        <meta name="keyword" content="View Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}
        {{> innerManagerPartial }}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold color-blue margin-bottom-0" id="view-order-number">View Order</h1></div>
                    <div class="div-btn-status">
                        <h3 id="date-view-order" class= "margin-bottom-0">{{sale.date}}</h3>
                    </div>
                </div>
            </div>

            <hr>

            <div class="label-container">
                <div class="override-label">Processed By</div> 
                <div class="label-content" id="content-view-order-processed-by">{{sale.employeeName}}</div>
            </div>

            <h3 class="bold" style="margin-top: 30px;">Order Details</h3> 
            <div class="div-table" style="height: 250px;">
                <table class="table" id="table-view-order">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each salesDishes}}
                            <tr>
                                <td>{{dishName}}</td>
                                <td>{{quantity}}</td>
                                <td>₱ {{unitPrice}}</td>
                                <td>₱ {{amount}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="summary-container" style="margin-top: 20px;">
                <div class="summary-text">Subtotal</div>
                <div class="summary-info-container"><div id="view-order-subtotal" class="summary-info">₱ {{sale.subtotal}}</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">VAT</div>
                <div class="summary-info-container"><div id="view-order-VAT" class="summary-info">₱ {{sale.VAT}}</div></div>
            </div>
            <div class="summary-container">    
                <div class="summary-text">Less: Discount</div>
                <div class="summary-info-container"><div id="view-order-less-discount" class="summary-info">₱ {{sale.discount}}</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">Total Due</div>
                <div class="summary-info-container"><div id="view-order-total-due"class="summary-info">₱ {{sale.total}}</div></div>
            </div>
        </div>
    </body>
</html>