<!DOCTYPE html>
<html>
    <head>
        <title> View Ingredient </title>
        <meta name="description" content="View Ingredient">
        <meta name="keyword" content="View Ingredient">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> innerLogoutPartial }}

        {{#if inventory}}
            {{> innerInventoryPartial }}
        {{/if}}

        {{#if manager}}
            {{> innerManagerPartial }}
        {{/if}}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%;"><h1 class="bold color-blue margin-bottom-0" id="view-ingredient-name">{{ingredientDetails.ingredientName}}</h1></div>
                    <div class="div-btn-status">
                        <div><button class="btn-status btn-{{ingredientDetails.status}}" id="status-view-ingredient">{{ingredientDetails.status}}</button></div>
                    </div>
                </div>
            </div>

            <hr>

            <div>

                <div class="label-container">
                    <div class="override-label">Type</div> 
                    <div class="label-content" id="content-view-ingredient-type">{{ingredientDetails.ingredientType}}</div>
                </div>

                <div class="label-container" style="margin-top: 0px; width: 50%; float: left; padding-right: 10px;">
                    <div class="override-label">Available Quantity</div> 
                    <div class="label-content" id="view-ingredient-available-quantity">{{ingredientDetails.quantityAvailable}}</div>
                </div>

                <div class="label-container" style="margin-top: 0px; width: 50%; float: left; display: flex; justify-content: flex-end; padding-left: 10px;">
                    <p style="display: none;" id="unitID">{{ingredientDetails.unitMeasurement}}</p>
                    <div class="override-label">Unit Measurement</div> 
                    <div class="label-content" id="view-ingredient-unit-measurement">{{ingredientDetails.unitName}}</div>
                </div>

                <div class="label-container">
                    <div class="override-label">Reorder Level</div> 
                    <div class="label-content" id="content-view-ingredient-reorder-level">{{ingredientDetails.reorderLevel}}</div>
                </div>
            </div>

              <div class="div-btn-right" style="margin-top: 60px;"><button class="btn-dark-blue" id="btn-view-ingredient-update-manual-count" onclick="location.href='/updateManualCount/{{ingredientDetails._id}}'">Update Manual Count</button></div>

            <div>
                <div style="display: flex; width: 50%; float: left; margin-top: 30px;">
                    <h3 class ="bold" style="width: 80%; margin-top: 0px;">Stock</h3>
                </div>
                <div style="margin-top: 30px; display: flex; float: left; width: 50%; justify-content: flex-end"><button class="btn-light-blue" id="btn-view-ingredient-new-stock"  data-toggle="modal" data-target="#modal-add-stock">+ New Stock</button></div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-stock" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modalTitle">Add Stock</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>  
                <div class="modal-body">
                    <form id="add-new-stock">
                        <label for="stock-name">Name</label> <input id="stock-name" type="text"><br>
                        <p class="error" id="error-new-stock-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <label for="stock-quantity">Quantity</label> <input id="stock-quantity" type="number"> <br>
                        <p class="error" id="error-stock-quantity" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <p class="error" id="error-new-stock-quantity" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <div style="display: flex;">
                            <label for="dropdown-stock-unit">Unit of Measurement</label>
                            <select class="dropdown" id="dropdown-stock-unit">
                                 <option>--Select unit--</option>
                                {{#each units}}
                                    <option value="{{id}}">{{unitName}}</option>
                                {{/each}}
                            </select><br>
                        </div>
                    </form>
                    <button id="add-conversion" class="btn-dark-blue" data-target="/unitConverter" style=
                            "margin-left: 3px;">Add New Unit</button>
                 </div>     
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-add-new-stock">Add Stock</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="div-table" style="height: 350px; margin-top: 70px;">
                <table class="table" id="table-view-ingredients-stock">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody> 
                         {{#each stocks}}
                        <tr>
                            <td>{{stockName}}</td>
                            <td>{{quantity}}</td>
                            <td>{{stockUnit}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <script> 
            $(document).ready(function() {
                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function isFilled () {
                    var stockName = capitalize($('#stock-name').val());
                    var stockQuantity = $('#stock-quantity').val();

                    if (stockName=="" || stockQuantity=="")
                        return false;
                    else
                        return true;
                }

                $('#stock-name').keyup(function() {
                    var stockName = capitalize($('#stock-name').val());
                    $.get('/getCheckStockName', {stockName:stockName}, function(result) {
                        if (result.stockName == stockName) {
                            $("#stock-name").css("border", "1px solid #B00000");
                            $('#error-new-stock-name').text("Stock already exists");
                            $("#btn-add-new-stock").prop("disabled", true);
                            $("#btn-add-new-stock").css("background-color", "#b3b3b3");
                        }
                        else if (!isFilled() || $('#error-stock-quantity').val()!="") 
                            $("#btn-add-new-stock").prop("disabled", true);
                        else { 
                            $("#stock-name").css("border", "1px solid #DDDDDD");
                            $("#error-new-stock-name").text("");
                            $("#btn-add-new-stock").prop("disabled", false);
                            $("#btn-add-new-stock").css("background-color", "#0F84D9");
                        }
                    })
                });

                $('#stock-quantity').keyup(function() {
                    var stockQuantity = $('#stock-quantity').val();
                    if (stockQuantity <= 0) {
                        $("#stock-quantity").css("border", "1px solid #B00000");
                        $('#error-stock-quantity').text("Stock quantity should be greater than 0");
                        $("#btn-add-new-stock").prop("disabled", true);
                        $("#btn-add-new-stock").css("background-color", "#b3b3b3");
                    }
                    else if (!isFilled() || $('#error-new-stock-name').val()!="") {
                        $("#btn-add-new-stock").prop("disabled", true);
                        $("#error-stock-quantity").text("");
                    }
                    else {
                        $("#stock-quantity").css("border", "1px solid #DDDDDD");
                        $("#error-stock-quantity").text("");
                        $("#btn-add-new-stock").prop("disabled", false);
                        $("#btn-add-new-stock").css("background-color", "#0F84D9");
                    }
                });

                $('#add-conversion').click(function() {
                    window.location = $(this).data("target")
                })

                $('#btn-add-new-stock').click(function() {
                    var stockName = capitalize($('#stock-name').val());
                    var quantity = $('#stock-quantity').val();
                    var stockUnitVal = $('#dropdown-stock-unit').val();
                    var stockUnitText = $('#dropdown-stock-unit :selected').text();
                    var ingredientName = $('#view-ingredient-name').text();

                    $('#table-view-ingredients-stock').append ("<tr>" + "<td>" + stockName + "</td>" + "<td>" + quantity + "</td>" + "<td>" + stockUnitText + "</td>");
                    $('#modal-add-stock').modal('toggle');
                    $('#add-new-stock').trigger('reset');
                    $.post('/addStock', {stockName, quantity, stockUnitVal, ingredientName});
                });
            })
        </script>
    </body>
</html>