<!DOCTYPE html>
<html>
    <head>
        <title> View Purchases </title>
        <meta name="description" content="View Purchases">
        <meta name="keyword" content="View Purchases">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
        </div>

        <div class="content">
            <h1 class="bold color-blue">Purchases</h1>

            <!--<div class="div-search">
                <input type="search" placeholder="Purchase ID" name="search" class="search-field" id="view-purchases-search-field">
                <button type="submit" style="height: 34px" id="view-purchases-search-button"><i class="fa fa-search"></i></button>
            </div>-->

            <div  style="justify-content: flex-start">
                <label class="date-label" for="start-date-purchases;">Start Date</label>
                <input style="height: 34px" type="date" id="start-date-purchases" name="start-date-purchases">
                <label class="date-label" style="margin-left: 10px;" for="end-date-purchases">End Date</label>
                <input style="height: 34px" type="date" id="end-date-purchases" name="end-date-purchases">
                <button type="submit" style="height: 34px; margin-left: 10px" id="view-purchases-date-button"><i class="fa fa-search"></i></button>
            </div>

            <br>

            <!-- make rows clickable -->
            <div class="div-table" style= "height: 500px">
                <table class="table" id="table-view-purchases">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Date</th>
                            <th>Purchased By</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each purchases}}
                        <tr class="link" data-href="/purchase/{{systemID}}">
                            <td>{{dateBought}}</td>
                            <td>{{employeeName}}</td>
                            <td>{{total}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="summary-total-container" style= "margin-top: 10px;">    
                <div class="summary-total-text">Total</div>
                <div class="summary-info-container"><div id="view-purchases-total" class="summary-total-info">{{total}}</div></div>
            </div>
        </div>

         <script> 
            $(document).ready(function() {
                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                /*$('#view-purchases-search-button').click(function() {
                    alert($("#view-purchases-search-field").val());

                    var _id = $("#view-purchases-search-field").val();


                    if (_id == null || _id == "") {
                        $("#view-purchases-search-field").css("border", "1px solid #B00000");
                        //$("#view-purchases-search-field").attr("placeholder", "Enter Purchase ID.");
                    } else {
                        $("#view-purchases-search-field").css("border", "1px solid #DDDDDD");

                        //var JSONid = JSON.stringify(_id);
                        //alert("ID: " + _id);
                        $.get("/getSearchPurchase", {_id: _id}, function (result) {
                            if (_id == result._id) {

                                var resultID = result._id;
                                var resultDate = result.dateBought;
                                var resultTotal = result.total;
                                var resultEmpID = result.employeeID;

                                $.get("/getEmployeeName", {employeeID: resultEmpID}, function(result2) {

                                    var resultName = result2.name;

                                    $("#table-view-purchases tbody tr").remove();

                                    $("#table-view-purchases").find("tbody").append(
                                    `  <tr class="link" data-href="/purchase/${resultID}"> 
                                            <td>${resultDate}</td>
                                            <td>${resultID}</td> 
                                            <td>${resultName}</td> 
                                            <td>${resultTotal}</td>
                                        </tr>`
                                    );

                                    $("#view-purchases-total").text(resultTotal);
                                });
                            }
                        });

                        $("#view-purchases-search-field").val("");
                    }   
                });*/

                $("#view-purchases-date-button").click(function() {
                    var startDate = $("#start-date-purchases").val();
                    var endDate = $("#end-date-purchases").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date-purchases").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date-purchases").css("border", "1px solid #B00000")
                    }
                    else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            alert("endDate is before startDate");
                            $("#start-date-purchases").css("border", "1px solid #B00000");
                            $("#end-date-purchases").css("border", "1px solid #B00000");
                        }
                        else {
                            alert("Valid dates");
                            $("#start-date-purchases").css("border", "1px solid #DDDDDD");
                            $("#end-date-purchases").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredRows", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                for (var i = 0; i < result.length; i++) {
                                    var resultSystemID = result[i]._id;
                                    var resultDate = result[i].dateBought;
                                    var resultTotal = result[i].total;
                                    var resultEmpID = result[i].employeeID;

                                    $("#table-view-purchases tbody tr").remove();

                                    $("#table-view-purchases").find("tbody").append(
                                        `  <tr class="link" data-href="/purchase/${resultSystemID}"> 
                                                <td>${resultDate}</td>
                                                <td>${resultEmpID}</td> 
                                                <td>${resultTotal}</td>
                                            </tr>`
                                    );

                                    //$("#view-purchases-total").text(resultTotal);
                                }
                            }
                        });
                        }
                    }
                });
            });
        </script>
    </body>
</html>