<!DOCTYPE html>
<html>
    <head>
        <title> View Purchase </title>
        <meta name="description" content="View Purchase">
        <meta name="keyword" content="View Purchase">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">New Order</a>
            <a href="#">View Menu</a>
        </div>

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold color-blue margin-bottom-0" id="view-specific-purchase-ID">{{purchase._id}}</h1></div>
                    <div class="div-btn-status">
                
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <div class="label-container">
                    <div class="override-label">Date</div> 
                    <div class="label-content" id="content-view-specific-purchase-date"> {{purchase.dateBought}}</div>
                </div>

                <div class="label-container">
                    <div class="override-label">Purchased By</div> 
                    <div class="label-content" id="content-view-specific-purchase-purchased-by">{{employeeName}}</div>
                </div>
            </div>

            <h3 class="bold" style="margin-top: 30px;">Purchase Details</h3> 
            <div class="div-table table-height-300">
                <table class="table" id="table-view-specific-purchase">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each stockInfos}}
                            <tr>
                                <td>{{stockID}}</td>
                                <td>{{stockName}}</td>
                                <td>{{quantity}}</td>
                                <td>{{unit}}</td>
                        {{/each}}
                        {{#each purchasedStocks}}
                                <td>{{count}}</td>
                                <td>{{unitPrice}}</td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="summary-total-container" style="margin-top: 20px;">
                <div class="summary-total-text">Total</div>
                <div class="summary-info-container"><div id="view-specific-purchase-total"class="summary-total-info">{{purchase.total}}</div></div>
            </div>
        </div>
    </body>
</html>