<!DOCTYPE html>
<html>
    <head>
        <title> View Inventory </title>
        <meta name="description" content="View Inventory">
        <meta name="keyword" content="View Inventory">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        {{> inventoryPartial }}

        <div class="content">
            <h1 class="bold color-blue">Inventory</h1>

            <div class="div-search">
                <input type="search" placeholder="Search" name="search" class="search-field" id="view-inventory-search-field">
                <button type="submit" style="height: 34px" id="view-inventory-search-button"><i class="fa fa-search" ></i></button>
            </div>

            <div class="div-btn-50">
               <button class="btn-light-blue" id="btn-view-inventory-add-ingredient" data-toggle="modal" data-target="#modal-add-ingredient">+ Add Ingredient</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-ingredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Add Ingredient</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="add-new-ingredient">
                        <label for="ingredient-name">Name</label> <input id="ingredient-name" type="text"><br>
                        <p class="error" id="error-new-ingredient-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <label for="dropdown-ingredient-type">Ingredient Type</label>
                        <select class="dropdown" id="dropdown-ingredient-type"> 
                            <option value="no-selected">--Select ingredient type--</option>
                            <option value="all-type">All</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select><br>
                        <label for="dropdown-ingredient-unit">Unit of Measurement</label>
                        <select class="dropdown" id="dropdown-ingredient-unit">
                            <option value="no-selected">--Select unit--</option>
                            {{#each units}}
                                <option value="{{_id}}">{{unit}}</option>
                            {{/each}}
                        </select><br>
                        <label> Reorder Point </label> <input type="text"><br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-add-new-ingredient" disabled="true">Add Ingredient</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>

            <div style="margin-top: 60px;">
                <label for="dropdown-view-new-inventory-type" style="margin-right: 10px">Type</label>
                <select class="dropdown" id="dropdown-view-inventory-type" style="margin-right: 10px">
                    <option value="all-type" selected>All</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
    
                <label for="dropdown-view-new-inventory-status" style="margin-right: 10px">Status</label>
                <select class="dropdown" id="dropdown-view-inventory-status">
                    <option value="all">All</option>
                    {{#each statuses}}
                        <option value="{{_id}}">{{status}}</option>
                    {{/each}}
                </select>
            </div>

            <br>

            <!-- make rows clickable -->
            <div class="div-table" style="height: 500px">
                <table class="table" id="table-view-inventory">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each ingredients}}
                        <tr class="link" data-href="/ingredient/{{systemID}}">
                            <td>{{ingredientName}}</td>
                            <td>{{ingredientType}}</td>
                            <td>{{quantityAvailable}}</td>
                            <td>{{unitMeasurement}}</td>
                            <td style="display: none;" class="status-id">{{statusID}}</td>
                            <td>{{status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script> 
            $(document).ready(function() {

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function noSelected() {
                    var ingredientType = $('#dropdown-ingredient-type').val();
                    var ingredientUnit = $('#dropdown-ingredient-unit').val();
                    if (ingredientType == "no-selected" || ingredientUnit == "no-selected")
                        return true;
                    else
                        return false;
                }

                $('#dropdown-ingredient-type').change(function() {
                    if (noSelected()) {
                        $("#btn-add-new-ingredient").prop("disabled", true);
                        $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                    }
                    else {
                        $("#btn-add-new-ingredient").prop("disabled", false);
                        $("#btn-add-new-ingredient").css("background-color", "#0F84D9");
                    }
                });

                $('#dropdown-ingredient-unit').change(function() {
                    if (noSelected()) {
                        $("#btn-add-new-ingredient").prop("disabled", true);
                        $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                    }
                    else {
                        $("#btn-add-new-ingredient").prop("disabled", false);
                        $("#btn-add-new-ingredient").css("background-color", "#0F84D9");
                    }
                })

                $('#ingredient-name').keyup(function() {
                    var ingredientName = capitalize($('#ingredient-name').val());
                    $.get('/getCheckIngredientName', {ingredientName: ingredientName}, function (result) {
                            if (result.ingredientName == ingredientName) {
                                $("#ingredient-name").css("border", "1px solid #B00000");
                                $('#error-new-ingredient-name').text("Ingredient already exists");
                                $("#btn-add-new-ingredient").prop("disabled", true);
                                $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                            }

                            //result name is not equal but no selected yet
                            else if (result.ingredientName != ingredientName && noSelected()) {
                                $("#ingredient-name").css("border", "1px solid #DDDDDD");
                                $("#error-new-ingredient-name").text("");
                                $("#btn-add-new-ingredient").prop("disabled", true);
                                $("#btn-add-new-ingredient").css("background-color", "#b3b3b3");
                            }

                            else {
                                $("#ingredient-name").css("border", "1px solid #DDDDDD");
                                $("#error-new-ingredient-name").text("");
                                $("#btn-add-new-ingredient").prop("disabled", false);
                                $("#btn-add-new-ingredient").css("background-color", "#0F84D9");
                            }
                    });
                }); 

                $('#btn-add-new-ingredient').click(function() {
                    var ingredientName = capitalize($('#ingredient-name').val());
                    var ingredientType = $('#dropdown-ingredient-type').val();
                    var ingredientUnitVal = $('#dropdown-ingredient-unit').val();
                    var ingredientUnitText = $('#dropdown-ingredient-unit :selected').text();


                    $('#modal-add-ingredient').modal('toggle');
                    $('#add-new-ingredient').trigger('reset');

                      $.ajax({
                            url: "/addIngredient",              
                            type: "POST",
                            data: {'ingredientName': ingredientName,'ingredientType': ingredientType, 'ingredientUnitVal': ingredientUnitVal},
                            async:false,
                            success: function(result){

                                 $('#table-view-inventory tbody').append (
                                    `<tr class='link' data-href='/ingredient/${result}'>
                                        <td>${ingredientName}</td> 
                                        <td>${ingredientType}</td> 
                                        <td>0</td>
                                        <td>${ingredientUnitText}</td> 
                                        <td>Out of Stock</td>
                                    </tr>`);
                                
                                 $(".link").click(function() {
                                    window.location = $(this).data("href");
                                });
                            }
                    });        
                });

                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                $('#view-inventory-search-field').keyup(function() {
                    $('#table-view-inventory tr').show();
                    var searchItem = $(this).val().toLowerCase();
                 
                    $('#table-view-inventory > tbody > tr').each(function(index) {
                        var ingredientName = $(this).children('td:first').text().toLowerCase();
                        if (!ingredientName.includes(searchItem))
                            $(this).toggle();
                    })
                })

                $('#dropdown-view-inventory-status').change(function() {
                    $('#table-view-inventory tr').show();

                    var filter = $('#dropdown-view-inventory-status').val()
                    
                    $('#table-view-inventory > tbody > tr').each(function(index) {
                        var statusID = $(this).children('.status-id').text().toLowerCase();
                        if (filter != statusID)
                            $(this).toggle();
                    })
                })
            })
        </script>
    </body>
</html>