<!DOCTYPE html>
<html>
    <head>
        <title> View Shrinkages </title>
        <meta name="description" content="View Shrinkages">
        <meta name="keyword" content="View Shrinkages">
        <link rel="stylesheet" type="text/css" href="/css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

      {{> inventoryPartial }}

      
        <div class="content">
            <div style="display: flex;">
                <div style="width: 50%"><h1 class="bold color-blue">Shrinkages</h1></div>
                <div class="div-btn-status">
                    <h4 class="bold" id="dateToday">As of {{today}}</h4>
                </div>
            </div>

            <div class="div-search">
                <input type="search" placeholder="Search" name="search" class="search-field" id="view-shrinkages-search-field">
                <!--<button type="submit" style="height: 34px" id="view-shrinkages-search-button"><i class="fa fa-search"></i></button>-->
            </div>

            <div class= "div-dates">
                <label for="start-date-shrinkages" class= "date-label">Start Date</label>
                <input style="height: 34px" type="date" id="start-date-shrinkages" name="start-date-shrinkages">
                <label class= "date-label" style="margin-left: 10px;" for="end-date-shrinkages">End Date</label>
                <input style="height: 34px" type="date" id="end-date-shrinkages" name="end-date-shrinkages">
                <button type="submit" style="height: 34px; margin-left: 10px" id="view-shrinkages-date-button"><i class="fa fa-search"></i></button>
            </div>

            <br>

            <div class="div-table" style="margin-top: 30px; height: 500px">
                <table class="table" id="table-view-shrinkages">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>System</th>
                            <th>Manual</th>
                            <th>Unit</th>
                            <th>Reason</th>
                            <th>Reported By</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each shrinkages}}
                            <tr>
                                <td>{{date}}</td>
                                <td>{{ingredientName}}</td>
                                <td>{{systemCount}}</td>
                                <td>{{manualCount}}</td>
                                <td>{{ingredientUnit}}</td>
                                <td>{{reason}}</td>
                                <td>{{employee}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <script> 
            $(document).ready(function() {
                $("#view-shrinkages-date-button").click(function() {
                    var startDate = $("#start-date-shrinkages").val();
                    var endDate = $("#end-date-shrinkages").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date-shrinkages").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date-shrinkages").css("border", "1px solid #B00000")
                    } 
                    else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            //alert("endDate is before startDate");
                            $("#start-date-shrinkages").css("border", "1px solid #B00000");
                            $("#end-date-shrinkages").css("border", "1px solid #B00000");
                        }
                        else {
                            //alert("Valid dates");
                            $("#start-date-shrinkages").css("border", "1px solid #DDDDDD");
                            $("#end-date-shrinkages").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredRowsViewShrinkages", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result, result2) {
                                var total = 0;

                                $("#table-view-shrinkages tbody tr").remove();

                                for (var i = 0; i < result.length; i++) {
                                    var date = result[i].date;
                                    var ingredientName = result[i].ingredientName;
                                    var systemCount = result[i].systemCount;
                                    var manualCount = result[i].manualCount;
                                    var ingredientUnit = result[i].ingredientUnit;
                                    var reason = result[i].reason;
                                    var employee = result[i].employee;
                                    
                                    $("#table-view-shrinkages").find("tbody").append(
                                        `  <tr> 
                                                <td>${date}</td>
                                                <td>${ingredientName}</td>
                                                <td>${systemCount}</td> 
                                                <td>${manualCount}</td>
                                                <td>${ingredientUnit}</td>
                                                <td>${reason}</td>
                                                <td>${employee}</td>
                                            </tr>`
                                    );
                                }

                                $.get("/getDateToday", {}, function (result2) {
                                    $("#dateToday").text(result2);
                                });

                                $("#start-date-shrinkages").val(null);
                                $("#end-date-shrinkages").val(null);
                            });
                        }
                    }
                });

                $('#view-shrinkages-search-field').keyup(function() {
                    $('#table-view-shrinkages tr').show();
                    var searchItem = $(this).val().toLowerCase();
                 
                    $('#table-view-shrinkages > tbody > tr').each(function(index) {
                        var ingredientName = $(this).children('td:nth-child(2)').text().toLowerCase();
                        if (!ingredientName.includes(searchItem))
                            $(this).toggle();
                    })
                })
            });
        </script>
    </body>
</html>