<!DOCTYPE html>
<html>
    <head>
        <title> View Dish </title>
        <meta name="description" content="View Dish">
        <meta name="keyword" content="View Dish">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        {{> innerCashierPartial }}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold color-blue margin-bottom-0" id="view-dish-name">{{dish.dishName}}</h1></div>
                    <div style="visibility: hidden;" id="view-dish-systemID">{{dish.systemID}}</div>
                    <div class="div-btn-status">
                        <div><button class="btn-status btn-{{dish.dishStatus}}" id="status-view-dish">{{dish.dishStatus}}</button></div>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <div class="label-container" style="width: 50%; float: left; padding-right: 10px;">
                    <div class="override-label">Price</div> 
                    <div class="label-content" id="view-dish-price">₱ {{dish.dishPrice}}</div>
                </div>

                <div class="label-container" style="width: 50%; float: left; display: flex; justify-content: flex-end; padding-left: 10px;">
                    <div class="override-label">Classification</div> 
                    <div class="label-content" id="view-dish-classification">{{dish.dishClassification}}</div>
                </div>
            </div>

            <div class="div-btn-right" id="div-change-status" style="margin-top: 90px;"><button class="btn-light-blue" id="btn-view-dish-change-status" style="margin-bottom: 10px;" data-toggle="modal" data-target="#modal-change-status">Change Status</button></div>

            <!-- Change Status Modal -->
            <div class="modal fade" id="modal-change-status" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle">Change Status</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="change-status">
                        <label for="dropdown-status">Status</label>
                        <select class="dropdown" id="dropdown-status">
                            {{#each statuses}}
                                <option value={{_id}}>{{status}}</option>
                            {{/each}}
                        </select>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-save-new-status">Save</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>

            <!-- Edit Dish Details Modal
            <div class="modal fade" id="modal-edit-details" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle">Edit Details</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="edit-details">
                        <label for="dish-name">Name</label> 
                        <input id="dish-name" type="text">
                        <br>
                        <p class="error" id="error-dish-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <label for="dish-price">Price</label> 
                        <input id="dish-price" type="number"> 
                        <br>
                        <p class="error" id="error-dish-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        <label for="dish-classification">Classification</label> 
                        <input id="dish-price" type="number"> 
                        <br>
                        <p class="error" id="error-dish-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-save-new-dish-details">Save</button>
                      </div>
                    </form>
                    </div>
                </div>
                </div>
            </div> -->

            <h3 class="bold">Ingredients</h3> 
            <div class="div-table table-height-300">
                <table class="table" id="table-view-dish-ingredients">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each dishIngredients}}
                            <tr>
                                <td>{{ingredientName}}</td>
                                <td>{{quantity}}</td>
                                <td>{{measurementName}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <form action="/editDish/{{dish.systemID}}">
                 <div class="div-btn-right" id="div-view-dish-edit-dish" style="margin-top: 20px;" ><button class="btn-light-blue" id="btn-view-dish-edit-dish" style="margin-bottom: 10px;" >Edit Dish</button></div>
            </form>
           
        </div>
        <script>
            $(document).ready(function() {

                var currentStatus = $("#status-view-dish").text();

                if (currentStatus == "Out of Stock") {
                    $("#div-change-status").css("visibility", "hidden");
                }

                $("#btn-save-new-status").click(function() {
                    var dropdownValID = $("#dropdown-status").val();
                    var dropdownValName = $("#dropdown-status option:selected").text();
                    //alert($("#dropdown-status option:selected").text());

                    var currentStatus = $("#status-view-dish").text();
                    //alert(currentStatus);

                    if (currentStatus == "Out of Stock") {
                        alert("Sorry, status cannot be changed.");
                    } else {
                        if (dropdownValName != currentStatus) {
                        var dishName = $("#view-dish-name").text();
                        var dishID = $("#view-dish-systemID").text();
                        //alert("NAME: " + dishName + " , ID: " + dishID);

                        //get dish ID
                        $.post('/updateDishStatus', {dishID, dropdownValID});

                        $("#status-view-dish").text(dropdownValName);

                        if (dropdownValName == "Available") {
                            $("#status-view-dish").css("background-color", "#30b357");
                            $("#status-view-dish").css("border", "#30b357");
                        }
                        else if (dropdownValName == "Unavailable") {
                            $("#status-view-dish").css("background-color", "#969696");
                            $("#status-view-dish").css("border", "#969696");
                        }
                    }
                    }

                    $("#modal-change-status").modal('toggle');
                });

                $("#btn-save-new-status").click(function() {
                    var dishID = $("#view-dish-systemID").text();
                    
                    $.get('/editDetails/' + dishID, {dishID, dropdownValID});
                });

            });
        </script>
    </body>
</html>